* {
    font-family: 'Montserrat', sans-serif;
    padding-left: 0.5vw;
    background-color: #f0fffc;
}

a {
    color: grey;
    text-underline-offset: off;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}

figure {
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
    height: 120px;
    border-radius: 60px;
}

ul {
    padding-right: 50%;
    text-align: justify;
}

li {
    padding-top: 8px;
}

